<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center" style="width: 16.66%">Users</th>
            <th class="text-center" style="width: 10%" *ngFor="let day of dateService.week.value">{{day | date}}</th>
            <th class="text-center" style="width: 10%">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td class="text-center">{{user.userName}}</td>
            <td class="text-center" *ngFor="let hoursPerDay of user.hoursPerDays">
                {{hoursPerDay}}
            </td>
            <td class="text-center font-weight-bold">{{user.totalHours}}</td>
        </tr>
    </tbody>
</table>

<button (click)="printTasks()">print tasks</button>
