.icon__show-users-popup {
  &:hover {
    transition-duration: 300ms;
    color: rgba(10, 173, 51, 0.867);
  }
}

.popover {
  box-shadow: #000000 0px 0px 5px 1px !important;
}

.bold-hours-to-capacity{
  font-weight: 800;
}

.hours-to-capacity-0 {
  color: #fc1803;
}

.hours-to-capacity-1 {
  color: #fc5e03;
}

.hours-to-capacity-2 {
  color: #fda706;
}

.hours-to-capacity-3 {
  color: #fac518;
}

.hours-to-capacity-4 {
  color: #63c506;
}

.sort-icon{
  opacity: 0.0;
  &:hover{
    transition-duration: 400ms;
    opacity: 1;
  }
}
